.allPizzas {
  font-size: 25px;
  .price {
    b {
      color: var(--orange);
    }
  }
}

.goBack {
  opacity: 40%;
  height: 60px;
  width: 200px;
  border-radius: 30px;
  border: 1px solid var(--pizza-black);

  &:hover {
    transition: opacity 0.15s ease;
    opacity: 90%;
  }
  svg {
    margin-right: 5px;
    color: var(--pizza-black);
  }
}

.buyNow {
  height: 60px;
  width: 200px;
  background-color: var(--orange);
  border-radius: 30px;
  &:hover {
    cursor: pointer;
    background-color: var(--mouseOnOrange);
  }
  span {
    color: white;
    font-weight: 800;
  }
}
