.info {
  width: 450px;
  img {
    width: 150px;
    margin-right: 10px;
  }
}

.icon {
  cursor: pointer;
  color: var(--orange);
  margin: 0 20px;
}

.remove {
  opacity: 30%;
  cursor: pointer;
  &:hover {
    transition: opacity 0.15s ease;
    opacity: 70%;
  }
}

.category {
  h3 {
    font-weight: 800;
  }

  p {
    letter-spacing: 1px;
    opacity: 60%;
  }
}
