@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --pizza-black: #343434;
  --background: #ffdf8c;
  --gray-line: #f6f6f6;
  --orange: #fe5f1e;
  --mouseOnOrange: #d2521d;

  --container-width: 90%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  a {
    :hover {
      text-decoration: none;
    }
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: var(--background);
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: var(--pizza-black);
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
