.cartIsEmpty {
  display: inline;
  margin: 150px 0 20px 0;
  font-weight: 800;
}

.text {
  margin-bottom: 50px;
  p {
    margin: 0;
    opacity: 70%;
  }
}

.goBack {
  color: white;
  height: 60px;
  width: 300px;
  background-color: var(--pizza-black);
  border-radius: 30px;
  &:hover {
    transition: background 0.15s ease;
    background-color: #1a1a1a;
    color: white;
  }
}
